---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2 class="mb-4">Hello 👋,</h2>
  <p>
    I'm <strong>Mattia</strong>, a self-taught <strong>software engineer</strong
    > with {new Date().getFullYear() - 2012}+ years of experience.
  </p>
  <p>
    I've been building <strong>products</strong> and tools over the years while working
    at different companies but I very much enjoy doing it in my spare time as well.
    I work best with <strong>Javascript/Typescript</strong> across the <strong
      >full stack</strong
    > but I specialise on the frontend where I've been using <strong
      >React</strong
    > for many years.
    <br />I started learning <strong>Rust</strong> in 2024 and while I've built a
    couple of services, I consider myself a beginner.
  </p>
  <p>
    I'm always trying to find new ways to use <strong>Raspberry Pis</strong> currently
    exploring <strong>home automation</strong>, <strong
      >LoRa mesh networks</strong
    > and building a little cluster as home lab.
  </p>
  <p>
    I'm a videogamer, mostly switching between <strong>World of Warcraft</strong
    > and <strong>League of Legends</strong> but occasionally enjoying single player
    cozy games on my PlayStation 5.
  </p>
  <p>
    My CV is available in <a href="mattia_asti.pdf">PDF</a>, <a href="/cv"
      >HTML</a
    > or <a href="/cv.json">JSON</a>.
  </p>
</BaseLayout>
