---
import "../styles/tailwind.css";
---

<!doctype html>
<html lang="en">
  <head>
    <title>Mattia Asti</title>
  </head>
  <body>
    <article class="max-w-2xl">
      <slot />
    </article>
  </body>
</html>
