---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>Hi there 👋,</h1>
  <p>
    I'm Mattia, a software engineer specialised in working on products. I've
    been building various products and tools over the years both while working
    at different companies and in my spare time, and that's what I enjoy the
    most I work best with Javascript/Typescript using React, React Native,
    Node.js, GraphQL and CSS-in-JS.
  </p>
  <ul>
    <li>PDF</li>
    <li>HTML</li>
    <li>JSON</li>
  </ul>
</BaseLayout>
