---
import "../styles/tailwind.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mattia Asti</title>
  </head>
  <body>
    <header
      class="mx-auto flex max-w-3xl items-center justify-between border-b-1 border-gray-100 p-2"
    >
      <div class="flex items-center gap-4">
        <a href="/"
          ><img
            class="max-w-10 rounded-full"
            src="/avatar.png"
            alt="avatar"
          /></a
        >
        <span>Mattia Asti</span>
      </div>
      <nav class="flex gap-2">
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
      </nav>
    </header>
    <main class="mx-auto max-w-3xl p-4">
      <slot />
    </main>
  </body>
</html>
